@font-face {
	font-family: 'openSansBold';
	src: url('../font/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'openSansRegular';
	src: url('../font/OpenSans-Regular.ttf') format('truetype');
}

body {	
	overflow: hidden;
	width: 100%;
	height: 100%;
	font-family: openSansBold;
	font-size: 11px;	
}

a, a:active, a:link, a:visited{
    text-decoration: none;
    color: rgb(0, 149, 221);
}

a:hover {
    color: #104E8B;
}

h2 {
    font-family: 'openSansBold', sans-serif;
    font-size: 33px;
    letter-spacing: -2px;
    line-height: 100%;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    color: rgb(72, 72, 72);
    font-weight: normal;
    text-align: left;
}

p.first {
	padding-top: 0 !important;
	margin-top: 0 !important;
}

li {
    list-style: none;
    padding-left: 10px; 
}

select {
    font-size: 0.9em;
    padding: 0.2em;
}

#remo-top {
	background: url('../img/bg-sky.png') 0 0 repeat-x;
	padding: 20px 0 0 0;
	position: absolute;
	width: 100%;
	height: 80px;	
}

#remo-main {
	background: #F8F8F8 url('../img/bg-sky.png') 0 0 repeat-x;
	bottom: 0;
	position: fixed;	
	top: 80px;	
	overflow: auto;
	width: 100%;
	
}
.ItemTitle {
  padding: 5px;
}

.section-container.tabs section.active .title, .section-container.tabs .section.active .title {
    background-image: linear-gradient(rgb(60, 136, 204), rgb(39, 97, 149));    
    border-bottom: 0px none;
}
.section-container.tabs section.active .title, .section-container.tabs .section.active .title a {
	color: white;
}

.section-container section .title, .section-container .section .title, .section-container.auto section .title, .section-container.auto .section .title {
    top: 0px;
    cursor: pointer;
    width: 100%;
    margin: 0px;    
    background-color: #B0C4DE;
}

.section-container section .title a, .section-container .section .title a, .section-container.auto section .title a, .section-container.auto .section .title a {
    color: black;    
}


.button {
    background: white;
    display: inline-block;
    text-align: center;
    padding: 9px 34px 11px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1;
    font-family: "Helvetica Neue","Helvetica",Arial,Verdana,sans-serif;
    position: relative;
    cursor: pointer;
    border: medium none;
    outline: medium none;
    margin: 0px;
}

.section-container section .content, .section-container .section .content, .section-container.auto section .content, .section-container.auto .section .content {
    display: none;
    padding: 0.9375em;
    background-color: transparent;
}

.botonBuscar, .botonBuscar:hover, .botonBuscar:active {
    background: none;
    border: 0px;
    padding: 0px;
    margin: 0 auto;
    color: rgb(0, 149, 221);
}

.botonBuscar, .botonBuscar:active {
    color: rgb(0, 149, 221);
}

.botonBuscar:hover {
    color: #104E8B;
}

.icon-search {
    font-size: 200%;
}
.rssHeader {
    background-color: rgba(255,255,255,0.5);
    margin-left: 6em;
    margin-right: 1em;
    padding: 5px;
    border-radius: 0.5em 0.5em 0 0;
    text-align: center;
}
.rssBody, .areas {
    background-color: rgba(245,245,245,0.5);
    padding: 0.4em;
    border-radius: 0.2em;
    opacity: 0.7;
    box-shadow: inset 0 0 5px #666;
}
.rssBody:hover, .areas:hover {
    opacity: 0.9;
    box-shadow: 0 0 8px #555;
}
.areas {
    float: left;
    width: 45%;
    max-width: 18em;
    height: 14em;
    overflow: hidden;
    margin: 0.4em;
}
.areas img {
    float: left;
    padding-right: 0.5em;
}
.rssBody {
    height: 14em !important;
}

.desc {
    font-size: 0.9em;
}
.social img {
    opacity: 0.7;
}
.social img:hover {
    opacity: 0.9;
}
